
                    /*******EMPIEZAN********/
                    /*  ESTILOS GENERALES  */
                    /***********************/

body{
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

                    /*******ACABAN********/
                    /*  ESTILOS GENERALES  */
                    /***********************/

                    /*******EMPIEZAN********/
                    /*CONTAINERES GENERALES*/
                    /***********************/

#container{
  width: 100vw;
  height: 100vh;
}

#barra-superior{
  height: 5vh;

  display: flex;
}

#contenido{
  height: 85vh;
}

#footer{
  height: 10vh;
  
  color: gray;
  background-color: rgba(190, 190, 190, 0.24);
}

                    /********ACABAN*********/
                    /*CONTAINERS GENERALES */
                    /***********************/

                    /*******EMPIEZAN********/
                    /*ESTILOS BARRA-SUPERIOR */
                    /***********************/

#herramientas-izquierda-container{
  width: 50vw;

  padding: 2em 1em;

  display: flex;
  align-items: center;
}


#herramientas-izquierda-container a{
margin: 10px;
}

#herramientas-derecha-container{
  width: 50vw;
  padding: 0.5em 1em;

  text-align: right;
}

#herramientas-derecha-container a{
  margin: 10px;
}

/* #1 Y aquí le damos el formato flex para que se distribuya*/
#herramientas-derecha{
  display: flex;
  align-items: center;
  justify-content: end;
}

#herramientas-derecha img{
  border-radius: 50px;
}

                    /*******ACABAN********/
                    /*ESTILOS BARRA-SUPERIOR */
                    /***********************/

                    /*******EMPIEZAN********/
                    /*  ESTILOS CONTENIDO  */
                    /***********************/

/* EMPIEZAN ESTILOS IMAGEN */

#imagen{
  text-align: center;
}

#imagen .material-symbols-outlined{
  color: skyblue;
}

/* EMPIEZAN ESTILOS BUSQUEDA */

/* Container que engloba todo */
#busqueda{
  width: 30%;
  height: 40px;
  
  margin: 20px auto;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Añadimos el efecto que hacer al pasar por encima del container de búsqueda */
#busqueda:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

/* Container dentro de busqueda posicionado a la izquierda */
#busqueda-izquierda{
  width: 5%;
}

/* Container dentro de busqueda posicionado en el centro */
#busqueda-centro{
  width: 75%;
  height: 80%;
}

/* Container dentro de busqueda posicionado a la derecha */
#busqueda-derecha{
  width: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos atribuidos al contenido del container centro */
#busqueda-centro input{
  height: 100%;
  width: 100%;

  border: none;
}

#busqueda-centro input:focus{
  outline: none;
}

#busqueda span{
  margin: 8px;
}

/* EMPIEZAN ESTILOS BOTONES */

#botones{
  margin: 20px;

  text-align: center;
}

#botones button{
  margin: 5px;
  padding: 10px;

  border-radius: 5px;
  border: none;

  background-color: rgba(219, 219, 219, 0.212);
}

#botones button:hover{
  box-shadow: 0 0 3px 0 gray;
}

/* EMPIEZAN ESTILOS IDIOMAS */

#idiomas{
  text-align: center;
}

#idiomas a{
  color: rgb(17, 17, 202);
}

                    /*********ACABAN********/
                    /*  ESTILOS CONTENIDO  */
                    /***********************/

                  /*******EMPIEZAN********/
                  /*    ESTILOS FOOTER   */
                  /***********************/

/* Estilos generales */

#footer a{
  padding: 0.5em 1em 0.1em 1em;
  color: gray;
}

#footer p{
  margin-left: 15px;
  font-size: 18px;
}

/* Containers dentro de footer */

#pais{
  height: 5vh;

  display: flex;
  align-items: center;
}

/* La verdad, me falta el borde entre el div que hay arriba, #pais y el de abajo
#enlaces-footer. Pero me generaba que aparecieran barras laterales y horizontales.
Intenté poner un hr y no me funcionaba.*/

#enlaces-footer{
  height: 5vh;
  
  display: flex;
  align-items: center;
}

/* Estilos dentro del container enlaces-footer */

.enlace{
  width: 33vw;
}

/* Estilos enlaces centro */
.enlace:nth-of-type(2){
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del icono de la hoja */
.enlace:nth-of-type(2) .material-symbols-outlined{
  color: green;
}

/* Estilos enlaces derecha */
.enlace:nth-of-type(3){
  text-align: right;
}
                    /*********ACABAN********/
                    /*    ESTILOS FOOTER   */
                    /***********************/